# 外部工具设置
/*/
/*
!/references/
!/.gitignore

# 魔改相关
!/hotai/
!/kubejs/
/kubejs/README.txt

# mod配置

# 此处需要加入部分配置文件更改可以在对应文件路径前输入一个!来进行筛选
kubejs/startup_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/client_scripts/jsconfig.json
kubejs/config/probe-settings.json

kubejs/PCL
